//
//  Project.xcconfig
//  Tophat
//
//  Created by Lukas Romsicki on 2024-12-09.
//  Copyright © 2024 Shopify. All rights reserved.
//

// This file must be defined in your working directory. It should contain
// DEVELOPMENT_TEAM = <your team id>
#include "TeamID.xcconfig"

MACOSX_DEPLOYMENT_TARGET = 14.0
