name: SwiftLint

on:
  push:
    branches: [main]
  pull_request:

jobs:
  lint:
    name: SwiftLint
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/realm/swiftlint:0.49.1

    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: SwiftLint
        run: swiftlint --reporter github-actions-logging --strict
