name: Xcode

on:
  push:
    branches: [main]
  pull_request:

jobs:
  build:
    name: Test
    runs-on: macos-26
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          submodules: recursive

      - name: Install xcbeautify
        run: brew install xcbeautify

      - name: Select Xcode Version
        run: sudo xcode-select -switch /Applications/Xcode_26.1.app

      - name: Run Tests
        run: set -o pipefail && xcodebuild test -project Tophat.xcodeproj -scheme TophatTests -destination 'platform=macOS,arch=arm64' CODE_SIGNING_ALLOWED=NO | xcbeautify
